#SEPee.client.viewModel.ClientController HBox {
    -fx-spacing: 10;
}

#SEPee.client.viewModel.ClientController HBox > VBox {
    -fx-spacing: 10;
    -fx-pref-height: 645.0;
    -fx-pref-width: 287.0;
    -fx-background-color: #2e2e2e;
}

#chatArea {
    -fx-editable: false;
    -fx-pref-height: 535.0;
    -fx-pref-width: 355.0;
    -fx-background-color: #f0f0f0;
    -fx-padding: 7.0;
}

#avatarNameLabel {
    -fx-font-size: 40px;
    -fx-font-weight: 900;
    -fx-font-family: "Digital-Bold";
    -fx-text-fill: #dde400;
}

#visibilityButton {
    -fx-background-color: #dde400;
    -fx-text-fill: #2E2E2E;
    -fx-font-weight: bold;
}

#messageField {
    -fx-prompt-text-fill: #999999;
    -fx-pref-width: 100%;
}

#sendButton {
    -fx-pref-width: 63px;
    -fx-background-color: #dde400;
    -fx-text-fill: #2e2e2e;
}

#readyButton {
    -fx-pref-width: 63px;
    -fx-background-color: #dde400;
    -fx-text-fill: #2e2e2e;
}

#muteButton {
    -fx-pref-width: 63px;
    -fx-background-color: #dde400;
    -fx-text-fill: #2e2e2e;
}

.slider {
    -fx-pref-width: 200px;
    -fx-pref-height: 10px;
}

.slider .thumb {
    -fx-background-color: #dde400;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0, 0, 0;
    -fx-padding: 3px;
}

.slider .track {
    -fx-background-color: #f0f0f0;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.slider .filled-track {
    -fx-background-color: #dde400;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.slider .thumb {
    -fx-text-fill: #ffffff;
}

.slider .value {
    -fx-text-fill: #ffffff;
}

.slider .axis .tick-mark .tick-label {
    -fx-fill: #ffffff;
}

.slider {
    -fx-pref-width: 200px;
    -fx-pref-height: 10px;
}

.slider .thumb {
    -fx-background-color: #dde400;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0, 0, 0;
    -fx-padding: 3px;
}

.slider .track {
    -fx-background-color: #f0f0f0;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.slider .filled-track {
    -fx-background-color: #dde400;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.slider .thumb {
    -fx-text-fill: #ffffff;
}

.slider .value {
    -fx-text-fill: #ffffff;
}

.slider .axis .tick-mark .tick-label {
    -fx-fill: #ffffff;
}

.image-view {
    -fx-effect: none;
}

#registerImageView:hover {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 30, 0.3, 0, 0);
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

#handImageView:hover {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 30, 0.3, 0, 0);
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}