.dialog-background {
    -fx-background-image: url('/boardElementsPNGs/Custom/Backgrounds/Background1Edited.png');
    -fx-background-repeat: repeat;
    -fx-background-size: cover;
}

.dialog-pane {
    -fx-min-width: 950;
    -fx-min-height: 650;
    -fx-max-width: 1200;
    -fx-max-height: 750;
}

.grid-pane .intro-image {
    -fx-vgap: 20px;
}

.grid-pane {
    -fx-vgap: 60px;
    -fx-hgap: 0px;
}

.username-text-field {
    -fx-prompt-text-fill: #2E2E2E;
    -fx-alignment: center;
    -fx-pref-width: 200px;
    -fx-max-width: 300px;
    -fx-background-color: rgba(221, 228, 0, 0.64);
    -fx-font-family: "Digital-Bold";
    -fx-font-size: 16px;
}

.intro-image {
    -fx-pref-width: 500;
    -fx-pref-height: 500;
    -fx-preserve-ratio: true;
    -fx-effect: dropshadow(three-pass-box, rgb(0, 0, 0), 30, 0.3, 0, 10);
    -fx-alignment: center;
}

.robot-selection-grid {
    -fx-hgap: 10px;
    -fx-vgap: 10px;
    -fx-effect: dropshadow(three-pass-box, rgb(0, 0, 0), 30, 0.3, 0, 10);
}

.robot-image {
    -fx-fit-width: 120px;
    -fx-fit-height: 120px;
    -fx-opacity: 1;
    -fx-disable: false;
    /*-fx-effect: dropshadow(three-pass-box, rgba(10,10,10,12), 10, 0, 0, 10);*/
}

.robot-selection-grid .image-view:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-max-width: 469px;
    -fx-max-height: 91px;
}

.grid-label-robonames {
    -fx-alignment: center;
    -fx-font-family: 'Digital-Bold';
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-text-fill: #dde400;
}

.grid-label {
    -fx-font-family: "Digital-Bold";
    -fx-font-size: 16px;
}

.connect-button {
    -fx-prompt-text-fill: #2E2E2E;
    -fx-font-weight: bold;
    -fx-pref-width: 200px;
    -fx-max-width: 300px;
    -fx-background-color: rgba(221, 228, 0, 0.64);
    -fx-font-family: "Digital-Bold";
    -fx-font-size: 16px;
}
