.dialog-pane {
    -fx-background-color: #2E2E2E;
}

.header-label {
    -fx-font-size: 35px;
    -fx-text-fill: #dde400;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-wrap-text: true;
    -fx-max-width: 100px;
    -fx-padding: 40;
    -fx-font-family: "MyCustomFont";
}

.image-view {
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(10,10,10,12), 10, 0, 0, 10);
}

.image-view:disabled {
    -fx-effect: none;
    -fx-cursor: default;
    -fx-opacity: 0.2;
}

.grid-label {
    -fx-font-size: 16px;
    -fx-text-fill: #dde400;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-background-color: #2E2E2E;
    -fx-wrap-text: true;
    -fx-max-width: 100px;
    -fx-padding: 5 0 5 0;
}

.grid-pane {
    -fx-hgap: 10px;
    -fx-vgap: 10px;
    -fx-alignment: center;
}

