.header-label {
    -fx-font-size: 35px;
    -fx-text-fill: #dde400;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-wrap-text: true;
    -fx-max-width: 100px;
    -fx-padding: 30;
    -fx-font-family: "MyCustomFont";
}

.dialog-pane {
    -fx-background-color: #2E2E2E;
    -fx-padding: 10px;
}

.button {
    -fx-background-color: #dde400;
    -fx-text-fill: #2E2E2E;
    -fx-font-weight: bold;
}